<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="Local_Project"/>
<stringAttribute key="TALEND_JOB_ID" value="__v6RoBR7Eem82Zxj4gHrmg"/>
<stringAttribute key="TALEND_JOB_NAME" value="Actas_inicio_funcionarios_planta"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
