<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="Local_Project"/>
<stringAttribute key="TALEND_JOB_ID" value="_cBSXMGHXEeenjJf8LG0S7g"/>
<stringAttribute key="TALEND_JOB_NAME" value="novedades_activas_pensionados"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
